@font-face {
  font-family: 'SamsungOne-300';
  src: url('SamsungOne-300.eot');
  src: url('SamsungOne-300.woff2') format('woff2'),
       url('SamsungOne-300.woff') format('woff'),
       url('SamsungOne-300.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

