@font-face {
  font-family: 'SamsungOne-800';
  src: url('SamsungOne-800.eot');
  src: url('SamsungOne-800.woff2') format('woff2'),
       url('SamsungOne-800.woff') format('woff'),
       url('SamsungOne-800.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

