@font-face {
  font-family: 'SamsungOne-600';
  src: url('SamsungOne-600.eot');
  src: url('SamsungOne-600.woff2') format('woff2'),
       url('SamsungOne-600.woff') format('woff'),
       url('SamsungOne-600.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

