#infographics{
  &, & *{
    box-sizing: border-box;
  }
  a{
    color: #c82e41;
  }
  font-family: 'Lato', sans-serif;
  max-width: calc(100vw - 20px);
  width: 100%;
  margin: 1rem auto;
  background-color: #fbfbfb;
  @include media-breakpoint-up(md){
    max-width: 800px;
  }
  .data-table-collapse, .data-table-modal{
    padding: 0 1rem;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
  }
  .collapse,.modal-dataCard{
    width: 100%;
    margin-bottom: 1rem;
    max-width: calc(50% - 0.5rem);
    @include flex(1 1 calc(50% - 0.5rem));

    &:not(:nth-child(2n)){
      margin-right: 1rem;
    }
    &:nth-child(2n){
      margin-right: 0;
    }

    @include media-breakpoint-up(md){
      &:not(:nth-child(3n)){
        margin-right: 0.9rem;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
      max-width: calc(33% - 0.5rem);
      @include flex(1 1 calc(33% - 0.5rem));
    }
    button{
      cursor: pointer;
      border: none;
      padding: 0;
      outline: 0;
    }

    .collapse-btn{
      padding-right: 1.5rem;
      .picture{
        margin-right: -1.5rem;
      }
      &::after{
        content: '';
        top:75%;
        position: absolute;
        width:  1rem;
        height: 1rem;
        right: 0.5rem;
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/down-arrow.svg');
        z-index: 2;
      }
    }
    .collapse-btn,.modal-dataCard-btn{
      width: 100%;
      background-color: #C82E41;
      color: #fff;
      position: relative;
      border-radius: 0.75rem;
      overflow: hidden;
      @include flexbox();
      @include flex-wrap(wrap);
      @include media-breakpoint-up(md){
        padding-right: 2.5rem;
      }
      &.active{
        border-radius: 0.75rem 0.75rem 0 0;
      }

      @include media-breakpoint-up(md){
        &::after{
          right: 0.75rem;
          width:  1.5rem;
          height: 1.5rem;
        }
      }
      h1{
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 0.75rem 0.5rem;
        @include flex(1 1 100%);
        font-size: 0.85rem;
        margin-bottom: 0 !important;
        span{
          font-size: 0.8rem;
          display: block;
          margin: 0.5rem auto 0;
        }
      }
      .picture{
        position: relative;
        vertical-align: middle;
        overflow: hidden;
        height: 8rem;
        width: calc(100% + 1.5rem);
        max-width: calc(100% + 1.5rem);
        @include align-items(center);
        @include flex(1 1 100%);
        @include media-breakpoint-up(md){
          margin-right: -2.5rem;
          width: calc(100% + 3.5rem);
          max-width: calc(100% + 3.5rem);

        }
        img{
          width: auto;
          min-width: 100%;
          max-width: 100%;
          height: 100%;
          min-height: 100%;
          margin: auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .modal{
      display: none;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: fixed;
      z-index: 999999999;
      @include justify-content(center);
      @include align-content(center);

      &.active{
        @include flexbox();
      }
      .modal-overlay{
        z-index: 0;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0,0,0,0.75);
      }
      span.close{
        position: absolute;
        top: 70px;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
        background-color: #c82e41;
        background-image: url('../img/close.svg');
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        &:hover{
          background-color: darken(#c82e41,15);
        }
      }
    }
    .modal-content{
      &.scroll{
        @include media-breakpoint-down(md){
          &::after{
            content: '';
            height: 20vh;
            max-height: 120px;
            font-size: 10px;
            z-index: 2;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            display: block;
            width: 100%;

            background-position: center;
            background-size: 2.5rem auto;
            background-repeat: no-repeat;
            background: url('../img/scroll.gif')no-repeat center / 2.5rem auto, -moz-linear-gradient(top,  rgba(236,235,235,0) 0%, rgba(236,235,235,0.02) 1%, rgba(236,235,235,1) 50%, rgba(236,235,235,1) 99%); /* FF3.6-15 */
            background: url('../img/scroll.gif')no-repeat center / 2.5rem auto, -webkit-linear-gradient(top,  rgba(236,235,235,0) 0%,rgba(236,235,235,0.02) 1%,rgba(236,235,235,1) 50%,rgba(236,235,235,1) 99%); /* Chrome10-25,Safari5.1-6 */
            background: url('../img/scroll.gif')no-repeat center / 2.5rem auto, linear-gradient(to bottom,  rgba(236,235,235,0) 0%,rgba(236,235,235,0.02) 1%,rgba(236,235,235,1) 50%,rgba(236,235,235,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ecebeb', endColorstr='#ecebeb',GradientType=0 ); /* IE6-9 */

            //background-image: url('../img/scroll.gif');
          }
        }
      }
      h1{
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: #4d4d4d;
        @include media-breakpoint-up(md){
          font-size: 1.75rem;
        }

      }
      h2{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #4d4d4d;
        @include media-breakpoint-up(md){
          font-size: 1.25rem;
        }
      }
      position: absolute;
      top: 40px;
      right: 0;
      left: 0;
      bottom: 0;
      max-width: 80%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      max-height: 80vh;
      overflow: auto;
      margin: auto;
      background-color: #ECEBEB;
      border-radius: 1rem;
      padding: 1rem;
      z-index: 1;

      @include media-breakpoint-up(md){
        max-width: 600px;
      }

      li,p{
        line-height: normal;
        margin-bottom: 0.75rem;
        font-size: 0.8rem;
        // @include media-breakpoint-up(lg){
        //   font-size: 1rem;
        // }
      }
      a{
        color: #C82E41;
      }
      &.active{
        padding: 0.5rem;
        @include media-breakpoint-up(lg){
          padding: 0.75rem;
        }
        @include media-breakpoint-up(xl){
          padding: 1rem;
        }
        & > *{
          opacity: 1;
        }
      }
    }
    .collapse-content{
      background-color: #ECEBEB;
      overflow: hidden;
      max-height: 0;
      padding: 0;
      border-radius: 0 0 0.75rem 0.75rem;
      transition: max-height 0.5s ease-in-out;
      background-color: #ECEBEB;

      li,p{
        line-height: normal;
        margin-bottom: 0.75rem;
        font-size: 0.8rem;
        // @include media-breakpoint-up(lg){
        //   font-size: 1rem;
        // }
      }
      a{
        color: #C82E41;
      }
      & > *{
        transition: opacity 0.5s ease-in-out padding 0.5s ease-in-out;
        opacity: 0;
      }
      &.active{
        padding: 0.5rem;
        @include media-breakpoint-up(lg){
          padding: 0.75rem;
        }
        @include media-breakpoint-up(xl){
          padding: 1rem;
        }
        & > *{
          opacity: 1;
        }
      }
    }
    .comparative{
      width: 100%;
      margin-bottom: 1rem;
      @include flexbox();
      @include flex-wrap(wrap);
      .comparative-table{
        width: 100%;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        max-width: 100%;
        @include flex(1 1 100%);
        @include media-breakpoint-up(md){
          padding-left: 1rem;
          max-width: 50%;
          @include flex(1 1 50%);
        }
        &::before{
          font-size: 1.25rem;
          font-weight: bold;
          display: block;
          margin: 0 auto 1.5rem 0;
        }
        li{
        }
      }
      .good{
        li{
          list-style-image: url('../img/good-icon.svg');
        }
        &::before{
          content: 'Lo bueno';
          color: #8BC53F;
        }
      }
      .bad{
        li{
          list-style-image: url('../img/bad-icon.svg');
        }
        &::before{
          content: 'Lo malo';
          color: #ff3535;
        }
      }
    }
  }
}
