.noticia_column{
  max-width: 100vw;
}
#infographics{
  display: block;
  margin: 0;
  max-width: 100vw;
  @include media-breakpoint-up(md){
    margin: 2rem auto;
    max-width: 800px;
  }
  &,& *{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
  }
  @import 'infographics/head';
  @import 'infographics/body';
}
