.main_footer{
  .list_footer{
    padding: 1.25rem 0;
  }
  .copy_footer{
    padding: 0.75rem 0;
    p{
      font-size: 0.7rem;
      font-weight: 100;
      @include media-breakpoint-up(lg){
        font-size: 1rem;
      }
    }
  }
  .logo{
    max-width: 180px;
    margin-bottom: .75rem;
    @include media-breakpoint-up(lg){
      max-width: 250px;
    }
  }
  .main_footer_nav_group{
    margin-top: 1.75rem;
    @include media-breakpoint-up(lg){
      margin-top: 2rem;
    }
  }
  .main_footer_nav_item{
    @extend %display-block;
  }
  .main_footer_sm{
    margin-left: auto;
    max-width: 250px;
  }
  .main_footer_sm_item{
    margin: 0 auto;
    max-width: 1.25rem;
    @include media-breakpoint-up(lg){
      max-width: 2rem;
    }

  }
}
    // max-width: 250px;
