.styky-table-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 100000;
  @include flexbox();
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  &.hide{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: none !important;
  }
  .animation{
    width: 400px;
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 500px;
    max-height: 75vh;
    user-select: none;
    pointer-events: none;
  }
  .continue{
    user-select: none;
    align-self: center;
    cursor: pointer;
    border: none;
    height: 3rem;
    background-color: blue;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
  }
}
