table, thead, tbody, th, td, tr{
  display: block;
  text-align: center;
}
table{
  overflow: auto;
  width: 100%;
  max-width: 100%;
  position: unset;
  border-top: 1px solid transparent;
  margin: 0 auto;
  @include media-breakpoint-up(md){
  }
}
tr{
  @include flexbox();
  flex-wrap: nowrap;
  overflow: visible;
  position:unset;
  th{
    user-select: none;
    pointer-events: none;
    padding: 0.5rem;
    @media (min-width: 768px){
      padding: 1rem;
    }
  }
}

table.stiky-table{
  thead{
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    th{
      padding: 0.75rem 0.5rem;
      @include flexbox();
      background-color: #1a1a1a;
      flex-direction: column;
      a{
        display: block;
        pointer-events:all;
        cursor: pointer;
        color: #C82E41;
        text-decoration: underline;
        margin-top: auto;
      }
    }
    th:nth-child(2){
      margin-left: 27.5vw;
      @media (min-width: 768px) {
        margin-left:150px;
      }
    }

    &.fixed{
      display: block;
      position: absolute;
      top: 0;
    }
  }
  tr.false-head,thead{
    th{
      height: 80px !important;
    }
  }
  tbody{
    tr.false-head{
      visibility: hidden;
    }
    & tr:not(.false-head),& th,& td{
      min-height: 4.5rem;
      height: auto;
    }
  }
  & th,& td{
    @include flexbox();
    align-items: center;
    justify-content: center;
    min-width: 25vw;
    width: 25vw;
    max-width: 25vw;
    font-size: 12px;
    flex: 1 1 25vw;
    @media (min-width: 768px) {
      width:     125px;
      min-width: 125px;
      max-width: 125px;
      flex: 1 1  125px;
      font-size: 1rem;
    }
    img{
      width: 25px;
    }
  }
  td{
    &:first-of-type{
      margin-left: 27.5vw;
      @media (min-width: 768px) {
        margin-left:150px;
      }
    }
  }
  & th:first-child{
    position: absolute;
    left: 0;
    min-width: 27.5vw;
    width: 27.5vw;
    max-width: 27.5vw;
    flex: 1 1 27.5vw;
    font-size: 12px;

    @media (min-width: 768px) {
      width:     150px;
      min-width: 150px;
      max-width: 150px;
      flex: 1 1  150px;
    }
  }
  & th.axis{
    //background-color: #999 !important;
  }
}
