.inline-query{
  margin-bottom: .75rem;
}
.inline-query h2{
  font-size: 1.25rem !important;
}

.inline-query button.ans{
  background-color: #7f7f7f;
  color: #1f1f1f;
  border: 1px solid #1f1f1f !important;
  transition: color 0.25s ease-in-out;
}
.inline-query button.ans:hover{
  color: #c1c1c1;
}

.inline-query button.ans .meter{
  background-color: #fff;
  color: #1f1f1f;
}
.inline-query button.ans .overlay{
  background-color: #131313;
}
