%background-cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%background-top{
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
