.inline-query{
  margin-bottom: .75rem;
}
.inline-query h2{
  color: #c73a65 !important;
  font-size: 1.25rem !important;
}
.inline-query button.ans{
  border: none;
  background-color: #96b5d6;
  color: #e9edf1;
  font-weight: 300 !important;
  box-shadow: inset -1px -1px 5px rgba(0,0,0,.25);
}

.inline-query button.ans .meter{
  background-color: #fff;
  color: #242424;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}
.inline-query button.ans .overlay{
  background-color: rgba(199, 58, 103, 0.7);
}
