.inline-query-widget-wrapper .preloader .preloader-wrapper, .inline-query .inline-query-btn-wrapper.default-1 .ans .meter, .inline-query .inline-query-btn-wrapper.default-2 .ans .meter, .inline-query .inline-query-btn-wrapper.default-3 .ans .meter, .inline-query .inline-query-btn-wrapper.default-4 .ans .meter, .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans .meter {
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.inline-query-widget-wrapper .preloader .preloader-wrapper, .inline-query .inline-query-btn-wrapper.default-1 .ans, .inline-query .inline-query-btn-wrapper.default-2 .ans, .inline-query .inline-query-btn-wrapper.default-3 .ans, .inline-query .inline-query-btn-wrapper.default-4 .ans, .inline-query .inline-query-btn-wrapper.default-1 .ans .meter, .inline-query .inline-query-btn-wrapper.default-2 .ans .meter, .inline-query .inline-query-btn-wrapper.default-3 .ans .meter, .inline-query .inline-query-btn-wrapper.default-4 .ans .meter, .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans .meter {
  -webkit-box-align-items: center;
  -moz-box-align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.inline-query-widget-wrapper .preloader .preloader-wrapper {
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; }

.inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper {
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }

.inline-query-widget-wrapper, .inline-query-widget-wrapper .inline-query, .inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper .ans, .inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper, .inline-query-widget-wrapper .preloader .preloader-icon, .inline-query-widget-wrapper .preloader .preloader-msg {
  position: relative; }

.inline-query-widget-wrapper .preloader, .inline-query .inline-query-btn-wrapper.default-1 .ans .overlay, .inline-query .inline-query-btn-wrapper.default-2 .ans .overlay, .inline-query .inline-query-btn-wrapper.default-3 .ans .overlay, .inline-query .inline-query-btn-wrapper.default-4 .ans .overlay {
  position: absolute; }

.inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans img {
  display: block; }

.inline-query-widget-wrapper .preloader, .inline-query .inline-query-btn-wrapper.default-1 .ans .meter, .inline-query .inline-query-btn-wrapper.default-2 .ans .meter, .inline-query .inline-query-btn-wrapper.default-3 .ans .meter, .inline-query .inline-query-btn-wrapper.default-4 .ans .meter, .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans .meter {
  display: none; }

.inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper, .inline-query-widget-wrapper .preloader .preloader-wrapper, .inline-query .inline-query-btn-wrapper.default-1 .ans, .inline-query .inline-query-btn-wrapper.default-2 .ans, .inline-query .inline-query-btn-wrapper.default-3 .ans, .inline-query .inline-query-btn-wrapper.default-4 .ans {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.inline-query-widget-wrapper .inline-query h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem; }
.inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper .ans {
  border: 0;
  padding: 0;
  height: auto;
  margin: 0 .375rem .5rem;
  border-radius: .25rem;
  overflow: hidden;
  user-select: none;
  background-color: #fff; }
  .inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper .ans.answered {
    pointer-events: none;
    cursor: auto; }
    .inline-query-widget-wrapper .inline-query .inline-query-btn-wrapper .ans.answered .meter {
      display: flex; }
.inline-query-widget-wrapper.loading {
  user-select: none; }
  .inline-query-widget-wrapper.loading .inline-query {
    pointer-events: none;
    filter: blur(2.5px);
    opacity: .55; }
  .inline-query-widget-wrapper.loading .preloader {
    display: block; }
.inline-query-widget-wrapper .preloader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }
  .inline-query-widget-wrapper .preloader .preloader-wrapper {
    width: 100%;
    height: 100%; }
  .inline-query-widget-wrapper .preloader .preloader-icon {
    max-width: 48px;
    max-height: 48px;
    margin-bottom: .25rem; }
    .inline-query-widget-wrapper .preloader .preloader-icon svg {
      max-width: 100%;
      max-height: 100%; }
  .inline-query-widget-wrapper .preloader .preloader-msg p {
    font-size: .75rem;
    font-weight: lighter;
    margin: 0 !important; }

.inline-query .anscol {
  max-width: 100%;
  -webkit-box-flex-grow: 1;
  -moz-box-flex-grow: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-flex-basis: 0;
  -moz-box-flex-basis: 0;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  flex-basis: 0;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  flex: 0 0 auto; }
.inline-query .anscol-auto .ans {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }
.inline-query .anscol-1 .ans {
  width: calc(100% - 1rem);
  -webkit-box-flex: 0 0 calc(100% - .75rem);
  -moz-box-flex: 0 0 calc(100% - .75rem);
  -webkit-flex: 0 0 calc(100% - .75rem);
  -moz-flex: 0 0 calc(100% - .75rem);
  flex: 0 0 calc(100% - .75rem); }
.inline-query .anscol-2 .ans {
  width: calc(50% - 1rem);
  -webkit-box-flex: 0 0 calc(50% - .75rem);
  -moz-box-flex: 0 0 calc(50% - .75rem);
  -webkit-flex: 0 0 calc(50% - .75rem);
  -moz-flex: 0 0 calc(50% - .75rem);
  flex: 0 0 calc(50% - .75rem); }
.inline-query .anscol-3 .ans {
  width: calc(33.33333% - 1rem);
  -webkit-box-flex: 0 0 calc(33.33333% - .75rem);
  -moz-box-flex: 0 0 calc(33.33333% - .75rem);
  -webkit-flex: 0 0 calc(33.33333% - .75rem);
  -moz-flex: 0 0 calc(33.33333% - .75rem);
  flex: 0 0 calc(33.33333% - .75rem); }
.inline-query .anscol-4 .ans {
  width: calc(25% - 1rem);
  -webkit-box-flex: 0 0 calc(25% - .75rem);
  -moz-box-flex: 0 0 calc(25% - .75rem);
  -webkit-flex: 0 0 calc(25% - .75rem);
  -moz-flex: 0 0 calc(25% - .75rem);
  flex: 0 0 calc(25% - .75rem); }
.inline-query .anscol-5 .ans {
  width: calc(20% - 1rem);
  -webkit-box-flex: 0 0 calc(20% - .75rem);
  -moz-box-flex: 0 0 calc(20% - .75rem);
  -webkit-flex: 0 0 calc(20% - .75rem);
  -moz-flex: 0 0 calc(20% - .75rem);
  flex: 0 0 calc(20% - .75rem); }
.inline-query .anscol-6 .ans {
  width: calc(16.66667% - 1rem);
  -webkit-box-flex: 0 0 calc(16.66667% - .75rem);
  -moz-box-flex: 0 0 calc(16.66667% - .75rem);
  -webkit-flex: 0 0 calc(16.66667% - .75rem);
  -moz-flex: 0 0 calc(16.66667% - .75rem);
  flex: 0 0 calc(16.66667% - .75rem); }
@media (min-width: 576px) {
  .inline-query .anscol-sm-auto .ans {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .inline-query .anscol-sm-1 .ans {
    width: calc(100% - 1rem);
    -webkit-box-flex: 0 0 calc(100% - .75rem);
    -moz-box-flex: 0 0 calc(100% - .75rem);
    -webkit-flex: 0 0 calc(100% - .75rem);
    -moz-flex: 0 0 calc(100% - .75rem);
    flex: 0 0 calc(100% - .75rem); }
  .inline-query .anscol-sm-2 .ans {
    width: calc(50% - 1rem);
    -webkit-box-flex: 0 0 calc(50% - .75rem);
    -moz-box-flex: 0 0 calc(50% - .75rem);
    -webkit-flex: 0 0 calc(50% - .75rem);
    -moz-flex: 0 0 calc(50% - .75rem);
    flex: 0 0 calc(50% - .75rem); }
  .inline-query .anscol-sm-3 .ans {
    width: calc(33.33333% - 1rem);
    -webkit-box-flex: 0 0 calc(33.33333% - .75rem);
    -moz-box-flex: 0 0 calc(33.33333% - .75rem);
    -webkit-flex: 0 0 calc(33.33333% - .75rem);
    -moz-flex: 0 0 calc(33.33333% - .75rem);
    flex: 0 0 calc(33.33333% - .75rem); }
  .inline-query .anscol-sm-4 .ans {
    width: calc(25% - 1rem);
    -webkit-box-flex: 0 0 calc(25% - .75rem);
    -moz-box-flex: 0 0 calc(25% - .75rem);
    -webkit-flex: 0 0 calc(25% - .75rem);
    -moz-flex: 0 0 calc(25% - .75rem);
    flex: 0 0 calc(25% - .75rem); }
  .inline-query .anscol-sm-5 .ans {
    width: calc(20% - 1rem);
    -webkit-box-flex: 0 0 calc(20% - .75rem);
    -moz-box-flex: 0 0 calc(20% - .75rem);
    -webkit-flex: 0 0 calc(20% - .75rem);
    -moz-flex: 0 0 calc(20% - .75rem);
    flex: 0 0 calc(20% - .75rem); }
  .inline-query .anscol-sm-6 .ans {
    width: calc(16.66667% - 1rem);
    -webkit-box-flex: 0 0 calc(16.66667% - .75rem);
    -moz-box-flex: 0 0 calc(16.66667% - .75rem);
    -webkit-flex: 0 0 calc(16.66667% - .75rem);
    -moz-flex: 0 0 calc(16.66667% - .75rem);
    flex: 0 0 calc(16.66667% - .75rem); } }
@media (min-width: 768px) {
  .inline-query .anscol-md-auto .ans {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .inline-query .anscol-md-1 .ans {
    width: calc(100% - 1rem);
    -webkit-box-flex: 0 0 calc(100% - .75rem);
    -moz-box-flex: 0 0 calc(100% - .75rem);
    -webkit-flex: 0 0 calc(100% - .75rem);
    -moz-flex: 0 0 calc(100% - .75rem);
    flex: 0 0 calc(100% - .75rem); }
  .inline-query .anscol-md-2 .ans {
    width: calc(50% - 1rem);
    -webkit-box-flex: 0 0 calc(50% - .75rem);
    -moz-box-flex: 0 0 calc(50% - .75rem);
    -webkit-flex: 0 0 calc(50% - .75rem);
    -moz-flex: 0 0 calc(50% - .75rem);
    flex: 0 0 calc(50% - .75rem); }
  .inline-query .anscol-md-3 .ans {
    width: calc(33.33333% - 1rem);
    -webkit-box-flex: 0 0 calc(33.33333% - .75rem);
    -moz-box-flex: 0 0 calc(33.33333% - .75rem);
    -webkit-flex: 0 0 calc(33.33333% - .75rem);
    -moz-flex: 0 0 calc(33.33333% - .75rem);
    flex: 0 0 calc(33.33333% - .75rem); }
  .inline-query .anscol-md-4 .ans {
    width: calc(25% - 1rem);
    -webkit-box-flex: 0 0 calc(25% - .75rem);
    -moz-box-flex: 0 0 calc(25% - .75rem);
    -webkit-flex: 0 0 calc(25% - .75rem);
    -moz-flex: 0 0 calc(25% - .75rem);
    flex: 0 0 calc(25% - .75rem); }
  .inline-query .anscol-md-5 .ans {
    width: calc(20% - 1rem);
    -webkit-box-flex: 0 0 calc(20% - .75rem);
    -moz-box-flex: 0 0 calc(20% - .75rem);
    -webkit-flex: 0 0 calc(20% - .75rem);
    -moz-flex: 0 0 calc(20% - .75rem);
    flex: 0 0 calc(20% - .75rem); }
  .inline-query .anscol-md-6 .ans {
    width: calc(16.66667% - 1rem);
    -webkit-box-flex: 0 0 calc(16.66667% - .75rem);
    -moz-box-flex: 0 0 calc(16.66667% - .75rem);
    -webkit-flex: 0 0 calc(16.66667% - .75rem);
    -moz-flex: 0 0 calc(16.66667% - .75rem);
    flex: 0 0 calc(16.66667% - .75rem); } }
@media (min-width: 992px) {
  .inline-query .anscol-lg-auto .ans {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .inline-query .anscol-lg-1 .ans {
    width: calc(100% - 1rem);
    -webkit-box-flex: 0 0 calc(100% - .75rem);
    -moz-box-flex: 0 0 calc(100% - .75rem);
    -webkit-flex: 0 0 calc(100% - .75rem);
    -moz-flex: 0 0 calc(100% - .75rem);
    flex: 0 0 calc(100% - .75rem); }
  .inline-query .anscol-lg-2 .ans {
    width: calc(50% - 1rem);
    -webkit-box-flex: 0 0 calc(50% - .75rem);
    -moz-box-flex: 0 0 calc(50% - .75rem);
    -webkit-flex: 0 0 calc(50% - .75rem);
    -moz-flex: 0 0 calc(50% - .75rem);
    flex: 0 0 calc(50% - .75rem); }
  .inline-query .anscol-lg-3 .ans {
    width: calc(33.33333% - 1rem);
    -webkit-box-flex: 0 0 calc(33.33333% - .75rem);
    -moz-box-flex: 0 0 calc(33.33333% - .75rem);
    -webkit-flex: 0 0 calc(33.33333% - .75rem);
    -moz-flex: 0 0 calc(33.33333% - .75rem);
    flex: 0 0 calc(33.33333% - .75rem); }
  .inline-query .anscol-lg-4 .ans {
    width: calc(25% - 1rem);
    -webkit-box-flex: 0 0 calc(25% - .75rem);
    -moz-box-flex: 0 0 calc(25% - .75rem);
    -webkit-flex: 0 0 calc(25% - .75rem);
    -moz-flex: 0 0 calc(25% - .75rem);
    flex: 0 0 calc(25% - .75rem); }
  .inline-query .anscol-lg-5 .ans {
    width: calc(20% - 1rem);
    -webkit-box-flex: 0 0 calc(20% - .75rem);
    -moz-box-flex: 0 0 calc(20% - .75rem);
    -webkit-flex: 0 0 calc(20% - .75rem);
    -moz-flex: 0 0 calc(20% - .75rem);
    flex: 0 0 calc(20% - .75rem); }
  .inline-query .anscol-lg-6 .ans {
    width: calc(16.66667% - 1rem);
    -webkit-box-flex: 0 0 calc(16.66667% - .75rem);
    -moz-box-flex: 0 0 calc(16.66667% - .75rem);
    -webkit-flex: 0 0 calc(16.66667% - .75rem);
    -moz-flex: 0 0 calc(16.66667% - .75rem);
    flex: 0 0 calc(16.66667% - .75rem); } }
@media (min-width: 1200px) {
  .inline-query .anscol-xl-auto .ans {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .inline-query .anscol-xl-1 .ans {
    width: calc(100% - 1rem);
    -webkit-box-flex: 0 0 calc(100% - .75rem);
    -moz-box-flex: 0 0 calc(100% - .75rem);
    -webkit-flex: 0 0 calc(100% - .75rem);
    -moz-flex: 0 0 calc(100% - .75rem);
    flex: 0 0 calc(100% - .75rem); }
  .inline-query .anscol-xl-2 .ans {
    width: calc(50% - 1rem);
    -webkit-box-flex: 0 0 calc(50% - .75rem);
    -moz-box-flex: 0 0 calc(50% - .75rem);
    -webkit-flex: 0 0 calc(50% - .75rem);
    -moz-flex: 0 0 calc(50% - .75rem);
    flex: 0 0 calc(50% - .75rem); }
  .inline-query .anscol-xl-3 .ans {
    width: calc(33.33333% - 1rem);
    -webkit-box-flex: 0 0 calc(33.33333% - .75rem);
    -moz-box-flex: 0 0 calc(33.33333% - .75rem);
    -webkit-flex: 0 0 calc(33.33333% - .75rem);
    -moz-flex: 0 0 calc(33.33333% - .75rem);
    flex: 0 0 calc(33.33333% - .75rem); }
  .inline-query .anscol-xl-4 .ans {
    width: calc(25% - 1rem);
    -webkit-box-flex: 0 0 calc(25% - .75rem);
    -moz-box-flex: 0 0 calc(25% - .75rem);
    -webkit-flex: 0 0 calc(25% - .75rem);
    -moz-flex: 0 0 calc(25% - .75rem);
    flex: 0 0 calc(25% - .75rem); }
  .inline-query .anscol-xl-5 .ans {
    width: calc(20% - 1rem);
    -webkit-box-flex: 0 0 calc(20% - .75rem);
    -moz-box-flex: 0 0 calc(20% - .75rem);
    -webkit-flex: 0 0 calc(20% - .75rem);
    -moz-flex: 0 0 calc(20% - .75rem);
    flex: 0 0 calc(20% - .75rem); }
  .inline-query .anscol-xl-6 .ans {
    width: calc(16.66667% - 1rem);
    -webkit-box-flex: 0 0 calc(16.66667% - .75rem);
    -moz-box-flex: 0 0 calc(16.66667% - .75rem);
    -webkit-flex: 0 0 calc(16.66667% - .75rem);
    -moz-flex: 0 0 calc(16.66667% - .75rem);
    flex: 0 0 calc(16.66667% - .75rem); } }
@media (min-width: 1560px) {
  .inline-query .anscol-xx-auto .ans {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .inline-query .anscol-xx-1 .ans {
    width: calc(100% - 1rem);
    -webkit-box-flex: 0 0 calc(100% - .75rem);
    -moz-box-flex: 0 0 calc(100% - .75rem);
    -webkit-flex: 0 0 calc(100% - .75rem);
    -moz-flex: 0 0 calc(100% - .75rem);
    flex: 0 0 calc(100% - .75rem); }
  .inline-query .anscol-xx-2 .ans {
    width: calc(50% - 1rem);
    -webkit-box-flex: 0 0 calc(50% - .75rem);
    -moz-box-flex: 0 0 calc(50% - .75rem);
    -webkit-flex: 0 0 calc(50% - .75rem);
    -moz-flex: 0 0 calc(50% - .75rem);
    flex: 0 0 calc(50% - .75rem); }
  .inline-query .anscol-xx-3 .ans {
    width: calc(33.33333% - 1rem);
    -webkit-box-flex: 0 0 calc(33.33333% - .75rem);
    -moz-box-flex: 0 0 calc(33.33333% - .75rem);
    -webkit-flex: 0 0 calc(33.33333% - .75rem);
    -moz-flex: 0 0 calc(33.33333% - .75rem);
    flex: 0 0 calc(33.33333% - .75rem); }
  .inline-query .anscol-xx-4 .ans {
    width: calc(25% - 1rem);
    -webkit-box-flex: 0 0 calc(25% - .75rem);
    -moz-box-flex: 0 0 calc(25% - .75rem);
    -webkit-flex: 0 0 calc(25% - .75rem);
    -moz-flex: 0 0 calc(25% - .75rem);
    flex: 0 0 calc(25% - .75rem); }
  .inline-query .anscol-xx-5 .ans {
    width: calc(20% - 1rem);
    -webkit-box-flex: 0 0 calc(20% - .75rem);
    -moz-box-flex: 0 0 calc(20% - .75rem);
    -webkit-flex: 0 0 calc(20% - .75rem);
    -moz-flex: 0 0 calc(20% - .75rem);
    flex: 0 0 calc(20% - .75rem); }
  .inline-query .anscol-xx-6 .ans {
    width: calc(16.66667% - 1rem);
    -webkit-box-flex: 0 0 calc(16.66667% - .75rem);
    -moz-box-flex: 0 0 calc(16.66667% - .75rem);
    -webkit-flex: 0 0 calc(16.66667% - .75rem);
    -moz-flex: 0 0 calc(16.66667% - .75rem);
    flex: 0 0 calc(16.66667% - .75rem); } }

.inline-query .inline-query-btn-wrapper.default-1 {
  flex-wrap: nowrap; }
.inline-query .inline-query-btn-wrapper.default-2 .ans {
  max-width: calc(100% - .75rem); }
  .inline-query .inline-query-btn-wrapper.default-2 .ans .meter {
    margin-left: 0;
    margin-right: .5rem; }
  .inline-query .inline-query-btn-wrapper.default-2 .ans .overlay {
    left: 0; }
  @media (min-width: 768px) {
    .inline-query .inline-query-btn-wrapper.default-2 .ans {
      max-width: calc(50% - .75rem); }
      .inline-query .inline-query-btn-wrapper.default-2 .ans:nth-child(odd) .meter {
        margin-left: auto;
        margin-right: 0;
        order: 2;
        left: 0; }
      .inline-query .inline-query-btn-wrapper.default-2 .ans:nth-child(odd) .overlay {
        left: auto;
        right: 0; }
      .inline-query .inline-query-btn-wrapper.default-2 .ans:nth-child(odd) .answer {
        margin-right: .5rem; }
      .inline-query .inline-query-btn-wrapper.default-2 .ans:nth-child(even) .meter {
        margin-right: .5rem;
        order: 0; }
      .inline-query .inline-query-btn-wrapper.default-2 .ans:nth-child(even) .overlay {
        left: 0; } }
.inline-query .inline-query-btn-wrapper.default-3 .ans {
  max-width: calc(33.333% - .75rem); }
.inline-query .inline-query-btn-wrapper.default-4 .ans {
  max-width: calc(25% - .75rem); }
.inline-query .inline-query-btn-wrapper.default-1 .ans, .inline-query .inline-query-btn-wrapper.default-2 .ans, .inline-query .inline-query-btn-wrapper.default-3 .ans, .inline-query .inline-query-btn-wrapper.default-4 .ans {
  padding: .75rem;
  width: 100%; }
  .inline-query .inline-query-btn-wrapper.default-1 .ans .overlay, .inline-query .inline-query-btn-wrapper.default-2 .ans .overlay, .inline-query .inline-query-btn-wrapper.default-3 .ans .overlay, .inline-query .inline-query-btn-wrapper.default-4 .ans .overlay {
    width: 0%;
    max-width: 100%;
    z-index: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    will-change: width;
    transition: width 0.25s ease-in-out; }
  .inline-query .inline-query-btn-wrapper.default-1 .ans:not(.answered):hover .overlay, .inline-query .inline-query-btn-wrapper.default-2 .ans:not(.answered):hover .overlay, .inline-query .inline-query-btn-wrapper.default-3 .ans:not(.answered):hover .overlay, .inline-query .inline-query-btn-wrapper.default-4 .ans:not(.answered):hover .overlay {
    width: 100%; }
  .inline-query .inline-query-btn-wrapper.default-1 .ans .meter, .inline-query .inline-query-btn-wrapper.default-2 .ans .meter, .inline-query .inline-query-btn-wrapper.default-3 .ans .meter, .inline-query .inline-query-btn-wrapper.default-4 .ans .meter {
    padding: .25rem .5rem;
    font-size: 90%;
    border-radius: .25rem;
    order: 0;
    z-index: 1; }
  .inline-query .inline-query-btn-wrapper.default-1 .ans .answer, .inline-query .inline-query-btn-wrapper.default-2 .ans .answer, .inline-query .inline-query-btn-wrapper.default-3 .ans .answer, .inline-query .inline-query-btn-wrapper.default-4 .ans .answer {
    z-index: 1;
    order: 1;
    font-weight: normal;
    text-align: left; }

.inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans img {
  width: 100%;
  height: auto; }
.inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans {
  padding-bottom: .25rem; }
  .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans img {
    margin-bottom: .25rem;
    z-index: 1; }
  .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans .meter {
    padding: .125rem .25rem;
    font-size: .75rem;
    border-radius: .25rem;
    order: 0;
    z-index: 1;
    color: #fff;
    max-width: calc(100% - 1rem);
    margin: 0 auto .25rem; }
  .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans .answer {
    z-index: 1;
    font-size: .75rem; }
    @media (min-width: 768px) {
      .inline-query .inline-query-btn-wrapper.iq_img_btn-0 .ans .answer {
        font-size: 1rem; } }

/*# sourceMappingURL=inline_query.css.map */
